@screen-width-xs: 768px;
@screen-width-sm: 768px;
@screen-width-md: 992px;
@screen-width-lg: 1200px;
@nav-bar-height: 7em;

.home-container {
  width: 100%;
  height: calc(100vh - @nav-bar-height);
  padding-bottom: @nav-bar-height;
}

.row-home {
  height: 100%;
  width: 100%;
  filter: none;
  -webkit-filter: none;
}

.col-home {
  line-height: 4em;
  height: auto;
  text-align: center;
  color: #FAFAFA;
}

@media screen and (min-width: @screen-width-lg) {
  .welcome-title {
    font-size: 5em;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media screen and (max-width: @screen-width-lg) {
  .welcome-title {
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.btn-welcome {
  width: 9.5em;
  height: 2.2em!important;
}

.button-container {
  margin-top: 2em;
}