// Variables
@screen-width-xs: 768px;
@screen-width-sm: 768px;
@screen-width-md: 992px;
@screen-width-lg: 1200px;

@navBarSize: 6em;

/* DESKTOP */
@media screen and (min-width: @screen-width-lg) {
  .nav-bar {
    top: 0;
    height: @navBarSize;
    width: 100%;
    position: fixed;
    z-index: 50;
  }

  .title-color-not-top {
    color: #000000;
  }

  .nav-bar-not-top {
    top: 0;
    height: @navBarSize;
    width: 100%;
    position: fixed;
    z-index: 50;
    background-color: #FAFAFA;
    animation: animatetop 0.4s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  @keyframes animatetop {
    from {background-color: transparent}
    to {background-color: #FAFAFA}
  }
}

/* MOBILE */

@media screen and (max-width: @screen-width-lg) {
  .nav-bar {
    top: 0;
    height: @navBarSize;
    width: 100%;
    position: fixed;
    z-index: 50;
    font-size: 0.8em;
  }
}

.drawer {
  width: 15em;
}

.divider {
  margin: 16px 0;
}

.menu-icon {
  font-size: 2em;
  color: #FAFAFA;
}

/* Content */
.main-content {
  padding-top: 7em;
}

.row {
  height: 100%;
}

#title {
  font-weight: 900;
  letter-spacing:0.05em;
}

.nav-mobile-content {
  color: black!important ;
}